# Census Data Exploratory Data Analysis

## Imports

In [ ]:
import pandas as pd
import numpy as np

## Loading in Data

In [26]:
# Read in the train/test census datasets
df_train_raw = pd.read_csv('data/census_income_learn.csv')
df_test_raw = pd.read_csv('data/census_income_learn.csv')

In [27]:
df_train_raw.head()

,73,Not in universe,0,0.1,High school graduate,0.2,Not in universe.1,Widowed,Not in universe or children,Not in universe.2,...,United-States,United-States.1,United-States.2,Native- Born in the United States,0.7,Not in universe.8,2,0.8,95,- 50000.
0,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
1,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
2,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
3,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
4,48,Private,40,10,Some college but no degree,1200,Not in universe,Married-civilian spouse present,Entertainment,Professional specialty,...,Philippines,United-States,United-States,Native- Born in the United States,2,Not in universe,2,52,95,- 50000.

## Data Cleaning

In [28]:
# Adding column names to the raw datasets

columns = [
    'age', 'class of worker', 'detailed industry code', 'detailed occupation code', 'education', 
    'wage per hour', 'enroll in edu inst last wk', 'marital stat', 'major industry code', 'major occupation code',
    'race', 'hispanic origin', 'sex', 'member of a labor union', 'reason for unemployment', 
    'full or part time employment stat', 'capital gains', 'capital losses', 'dividends from stocks', 'tax filer stat',
    'region of previous residence', 'state of previous residence', 'detailed household and family stat', 'detailed household summary in household', 
    'instance weight', 'migration code-change in msa', 'migration code-change in reg', 'migration code-move within reg', 'live in this house 1 year ago',
    'migration prev res in sunbelt', 'num persons worked for employer', 'family members under 18', 'country of birth father', 'country of birth mother',
    'country of birth self', 'citizenship', 'own business or self employed', 'fill inc questionnaire for veterans admin', 'veterans benefits', 
    'weeks worked in year', 'year', 'income'
]

df_train_raw.columns = columns
df_test_raw.columns = columns

In [ ]:
# Remove columns that are potentially duplicated of other columns, or carry no beneficical information

In [32]:
# Reformat prediction column as binary

df_train_raw['income'] = df_train_raw['income'].map({' - 50000.': 0, ' 50000+.': 1})
df_test_raw['income'] = df_test_raw['income'].map({' - 50000.': 0, ' 50000+.': 1})

In [37]:
df_train_raw.describe()

,age,detailed industry code,detailed occupation code,wage per hour,capital gains,capital losses,dividends from stocks,instance weight,num persons worked for employer,own business or self employed,veterans benefits,weeks worked in year,year,income
count,199522.000000,199522.000000,199522.000000,199522.000000,199522.000000,199522.000000,199522.000000,199522.000000,199522.000000,199522.000000,199522.000000,199522.000000,199522.000000,199522.000000
mean,34.494006,15.352397,11.306613,55.427186,434.721169,37.313975,197.530523,1740.380471,1.956190,0.175439,1.514830,23.175013,94.499669,0.062058
std,22.310785,18.067141,14.454218,274.897115,4697.542951,271.897097,1984.168581,993.770642,2.365127,0.553696,0.851475,24.411494,0.500001,0.241262
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,37.870000,0.000000,0.000000,0.000000,0.000000,94.000000,0.000000
25%,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1061.607500,0.000000,0.000000,2.000000,0.000000,94.000000,0.000000
50%,33.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1618.310000,1.000000,0.000000,2.000000,8.000000,94.000000,0.000000
75%,50.000000,33.000000,26.000000,0.000000,0.000000,0.000000,0.000000,2188.610000,4.000000,0.000000,2.000000,52.000000,95.000000,0.000000
max,90.000000,51.000000,46.000000,9999.000000,99999.000000,4608.000000,99999.000000,18656.300000,6.000000,2.000000,2.000000,52.000000,95.000000,1.000000