# Model

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Loading in Data

In [9]:
# Read in the train/test census datasets
income_train_df = pd.read_csv('data/census_train_clean.csv', index_col=0)
income_test_df = pd.read_csv('data/census_test_clean.csv', index_col=0)

In [10]:
income_train_df.head()

,age,class of worker,education,marital stat,race,sex,full or part time employment stat,capital gains,capital losses,dividends from stocks,num persons worked for employer,citizenship,weeks worked in year,income
0,58,Self-employed-not incorporated,High School Graduate,Divorced,White,0,Armed Forces,0,0,0,1,Native- Born in the United States,52,0
1,48,Private,High School Graduate,Married-civilian spouse present,Amer Indian Aleut or Eskimo,1,Full Time,0,0,0,1,Native- Born in the United States,52,0
2,42,Private,Undergraduate Degree,Married-civilian spouse present,White,0,Armed Forces,5178,0,0,6,Native- Born in the United States,52,0
3,28,Private,High School Graduate,Never married,White,1,Unemployed,0,0,0,4,Native- Born in the United States,30,0
4,47,Local government,High School Graduate,Married-civilian spouse present,White,1,Full Time,0,0,0,5,Native- Born in the United States,52,0

In [13]:
print(f'Train dataset has {len(income_train_df):,} datapoints with proportion of high income earners: {income_train_df.income.mean()}')

Train dataset has 96,535 datapoints with proportion of high income earners: 0.11887916299787642

In [14]:
print(f'Test dataset has {len(income_test_df):,} datapoints with proportion of high income earners: {income_test_df.income.mean()}')

Test dataset has 96,535 datapoints with proportion of high income earners: 0.11887916299787642